.language-selector {
  justify-self: end;
  text-decoration: underline;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.language-selector:hover {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.flag {
  height: $space-big;
  margin-left: $space-small;
}
