.map {
  height: 100%;
  margin-bottom: 24px;
  @media only screen and (min-width: $media-tablet) {
    padding: 0 12px;
  }
  .marker {
    transform: translate(-50%, -50%);
    font-size: $font-size-big;
    color: $color-red;
  }
}
