.header {
  text-align: center;
  margin: 0;
  background-color: $color-yellow;
  width: 100%;
  color: $color-black;
  .logo {
    max-width: 200px;
    height: auto;
    margin: 5px auto;
    @media (min-width: $media-tablet) {
      max-width: 250px;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      display: inline-block;
      color: $color-black;
      font-size: $font-size-medium-big;
      font-weight: 600;
      @media (min-width: $media-tablet) {
        font-weight: 700;
      }
    }
    @media (min-width: $media-tablet) {
      margin: 0 auto;
      max-width: 700px;
    }
  }
  a {
    text-decoration: none;
    color: $color-black;
  }
  a:hover {
    color: $color-brown;
  }
}
