.ParcelDetail {
  .StatusIcon {
    font-size: $font-size-x-big;
    color: $color-brown;
    margin-bottom: $space-big;
    text-align: center;
  }
  .status {
    font-size: $font-size-medium;
    font-weight: 700;
    margin-top: $space-small;
    margin-bottom: $space-big;
    text-align: center;
    @media (min-width: $media-tablet) {
      text-align: start;
    }
  }
  .details {
    @media (min-width: $media-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $space-big;
      justify-items: center;
      margin-bottom: $space-medium;
    }
  }
}

.data-label {
  font-size: $font-size-medium;
  margin-bottom: 0px;
  color: $color-brown;
  text-align: center;
}

.data-actual {
  font-size: $font-size-medium;
  font-weight: 700;
  margin-top: $space-small;
  margin-bottom: $space-big;
  text-align: center;
}
.details-map {
  grid-area: map;
  height: 350px;
  width: 100%;
  object-fit: cover;
}
