#home {
  .image-van {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .home-intro {
    margin: auto $space-medium;
    text-align: center;
  }
  h2 {
    margin-bottom: $space-big;
  }
  p {
    margin-bottom: $space-medium;
  }
}
