#home {
  .image-van {
    width: 100%;
    height: 302px;
    margin-bottom: $space-xx-big;
    @media (min-width: $media-phablet) {
      height: auto;
      margin-bottom: $space-medium;
    }
  }
  h1 {
    text-align: center;
  }
}
