.text-intro {
  margin: auto $space-medium;
  text-align: center;
}

.grid {
  justify-content: center;
  @media (min-width: $media-tablet) {
    padding: $space-medium;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $space-medium;
    grid-row-gap: $space-medium;
  }
}
